<html>
                        <head>
                            <title>Input cluster information:</title>
                        </head>
                        <body>
                            <form method="post" action="{{ url_for('output') }}" style="border: solid 1px #ff0000;">
                                <label>1:'time', 2:'latitude', 3:'longitude', 4:'depth', 5:'mag', 6:'magType', 7:'nst', 8:'gap', 9:'dmin', 10:'rms', 11:'net', 12:'id', 13:'updated', 14:'place', 15:'type'</label><br>
                                <label>Enter Digit:</label><br>
                                Enter X-coordinate <input type="text" name="x_coordinate"/><br>
                                Enter Y-coordinate <input type="text" name="y_coordinate"/><br>
                                Enter number of clusters <input type="text" name="n_clusters"/><br>
                                <input type="submit" />
                                <br>
                            </form>
                        </body>
                    </html>